.text-container{
  color: #22313F;
}

.label-row {
  padding-bottom: 3px;
  display: flex;
  justify-content: space-between;
}

.text-container label{
  font-weight: 300;
  font-size: 1.2em;
  color: #22313F;
  margin-bottom: 5px;
}

.input-field{
  display: flex;
}

.text-container input, textarea {
  padding: .7rem;
  font-size: 1em;
  color: #22313F;
  outline: 0;
  width: 100%;
  transition: all 0.2s linear;
  background: transparent;
  border: 1px solid rgba(0,0,0,0.15);
}

.text-container i {
  text-align: center;
  padding: .7rem;
  background: transparent;
  color:rgba(0,0,0,0.30);
  width: 40px;
  border: 1px solid rgba(0,0,0,0.15);
  border-right-width: 0;
}

.text-container input:focus, textarea:focus {
  box-shadow: 0 0 2px 0 rgba(0,0,0,.2);
  border-color: $turquoise;
}

.text-container input:hover {
}

.text-container input:invalid {
  background: #E26A6A;
}

.text-container textarea{
  resize: none;
  min-height: 70px;
  width: 100%;
  outline: none;
  padding: 10px;
  font-family: inherit;
}

.submit-button {
  width: 100%;
  border: none;
  background: #ee5f77;
  color: white;
  padding: .7rem;
  font-size: 1.2em;
  font-weight: 300;
  font-family: 'Roboto';
  outline: none;
  cursor: pointer;
  transition: all 0.2s linear;  
  border-radius: 5px;
}

.submit-button:disabled {
  background: #22313F;
  cursor: default;
}
.submit-button:enabled {
}

.submit-button:enabled:hover {
  box-shadow: 0 0 10px 0 rgba(0,0,0,.3);    
  background: #ee5f77 ;
}

.validation-error {
  float: right;
  color: #F16767;
}