.row {
  display: inline-block;
  padding: 10px;
}

.row input {
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(0,0,0,0.15);
  outline: none;
  padding: 2px;
}

.remove {
  cursor: pointer;
  color: $red;
}

.remove i {
  font-size: 1.5em;
}

.title label {
  font-weight: 300;
  font-size: 1.2em;
}

.title, .title a, .remove, .ingredients-list li {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}

.title a {
  margin-left: 10px;
  color: $green;
  cursor: pointer;
  user-select: none;
}

.amount {
  width: 50px;
}

.name {
  width: 120px;
}

.ingredients-list li {
  display: flex;
}

.ingredients-list {
  list-style-type: none;
}
